

{{> head }}


    {{> navbar  }}

    <div class="row">
        <div class="col-8">
            <h1>NodeJS</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est saepe pariatur possimus, temporibus dolorem amet maxime ex non ad, quia corrupti fuga, eum repellat totam aperiam dignissimos reprehenderit atque voluptatem.
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/descarga.png" alt="" class="img-thumbnail">
        </div>
    </div>
{{> footer}}